/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f5f9fe;
}

html {
  font-size: 10px;
}

.wrapper {
  max-width: 100%;
  margin: 0px auto;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
}

.btn--outlined {
  background: transparent;
  color: #2A73DD;
  border: 2px solid #2A73DD;
  -webkit-transition: .5s;
  transition: .5s;
  margin-right: 8px;
}

.btn--outlined:hover {
  background-color: #2A73DD;
  color: white;
}

.btn--contained {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  padding: 15.5px 46px;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 600;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn--contained:hover {
  color: white;
  background: linear-gradient(120deg, #82b3f0, #397adb);
}

.btn--buynow {
  background: #f5f9fe;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03rem;
  font-size: 11px;
  font-weight: 600;
  color: #2A73DD;
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn--buynow:hover {
  -webkit-box-shadow: -1px -1px 1px #cac7c7;
          box-shadow: -1px -1px 1px #cac7c7;
}

.navbar-toggler {
  font-size: 25px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #f5f9fe;
  -webkit-box-shadow: 0 2px 4px #e2ebfc;
          box-shadow: 0 2px 4px #e2ebfc;
  padding: 10px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__container .header__logo a {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2A73DD;
  text-decoration: none;
  font-weight: 700;
}

.header__container .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container .header__nav .header__nav-list .header__nav-item {
  padding: 25px;
}

.header__container .header__nav .header__nav-list .header__nav-item a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1d365e;
  text-decoration: none;
}

.header__container .header__nav .header__nav-list .header__nav-item a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2A73DD;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__container .header__nav .header__nav-list .header__nav-item:hover a {
  color: #2A73DD;
}

.header__container .header__nav .header__nav-list .header__nav-item:hover a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__container .header__nav .header__nav-list .header__nav-item--active a {
  color: #2a73dd;
}

.header__container .header__nav .header__nav-list .header__nav-item--active a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2a73dd;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__container .header__nav .navbar-collapse.show {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__container .header__nav .navbar-collapse.show .header__nav-list {
  display: block;
  text-align: center;
}

.banner {
  padding: 225px 0px;
  background-image: url(../../images/product-header-bg.jpeg);
  background-size: cover;
  background-position: center bottom;
}

.banner .banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner__container .banner__content .banner__title {
  font-size: 7rem;
  font-weight: 700;
  color: #2A73DD;
  margin-bottom: 15px;
}

.banner .banner__container .banner__content .banner__sub-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #1d365e;
  margin-bottom: 30px;
}

.banner .banner__container .banner__content .banner__descriptions {
  font-size: 15.4px;
  font-weight: 400;
  color: #656774;
  margin-bottom: 25px;
  line-height: 22px;
}

.banner .banner__container .banner__image img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .banner .banner__container .banner__image img {
    display: none;
  }
}

.products {
  padding: 100px 0;
}

.products h2 {
  font-size: 31.5px;
  font-weight: 700;
  margin-bottom: 70px;
  color: #1d365e;
}

.products--item {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  background-color: #f5f9fe;
  border: none;
  padding: 30px;
  margin-bottom: 30px;
}

.products--item img {
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}

.products .card__content h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #1d365e;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.products .card__content p {
  font-size: 14px;
  font-weight: 400;
  color: #1d365e;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.products .card__content-rating i {
  color: #f9d412;
  font-size: 14px;
  margin-top: 1rem;
}

footer {
  background-color: #2A73DD;
  padding-bottom: 70px;
}

footer img {
  margin-bottom: 60px;
}

footer .col-4 {
  color: white;
  font-size: 14px;
}

footer .col-8 li {
  list-style: none;
}

footer .col-8 li a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-right: 10px;
}

footer .col-8 li a:hover {
  color: lightgray;
}

.navbar-toggler .icon-bar {
  margin: 7px;
  display: block;
  width: 22px;
  height: 1px;
  background-color: #cccccc;
  border-radius: 1px;
}
/*# sourceMappingURL=app.css.map */