$primary-main: #2A73DD;
$primary-dark: #1d365e;
$background-card: rgb(245, 249, 254);
$background-shadow: 6px 6px 12px #e2ebfc,
-6px -6px 12px #fff;
$color-star: rgb(249, 212, 18);
$white-color: rgb(255, 255, 255);
//  Font size

$fs-1: 70px;
$fs-2: 31.5px;
$fs-3: 20px;
$fs-4: 14px;

// Navbar collapsed